
<!-- CAROUSELL -->
<div class="row-fluid">
  <div class="span6  offset3">
	<div id="myCarousel" class="carousel slide">
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	    <li data-target="#myCarousel" data-slide-to="3"></li>
	  </ol>
	  <!-- Carousel items -->
	  <div class="carousel-inner">
	    <div class="active item"><img src="carousel.jpg" class="img-rounded"></div>
	    <div class="item"><img src="carousel.jpg" class="img-rounded"></div>
	    <div class="item"><img src="voxeliz_arista.png" class="brand" width="400"></div>
	    <div class="item"><img src="voxeliz_arista.png" class="brand" width="400"></div>
	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
    </div>
  </div>
<!-- CAROUSELL END -->


<!-- BOUTON TRANSFER -->
  <div class="row-fluid">
    <div class="span2 offset5">
      <!-- <i class="icon-user icon-white"></i> -->
      <%= link_to "Transférez un fichier 3D", new_model_path , class: "btn btn-primary btn-large" %>
    </div>
  </div>
<!-- BOUTON TRANSFER END -->
